@import "tailwindcss";

html,
body {
  font-family: var(--font-poppins);
  background-color: #000235;
  color: #ffffff;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 100vh;
  max-height: fit-content;
  min-width: 100vw;
  overflow-x: hidden;
}
